# Environment
.env
.env.local
.env.production

# Dependencyies
node_modules/
.next/

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Docker volumes (local data)
postgres_data/
ollama_data/
